/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Genral Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* General Prject Styles */
    color: #3a3a3a
}


/* Header */
header {
    background-color: lightcoral;
}

/* Main Content */
main {
    background-color: lightblue;
    /* Make main element take up all surplus space */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: orange;
}
